blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p {
    margin: 0
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none
}

html {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.5
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background: rgba(0, 0, 0, 0);
    color: var(--text-color);
    font-size: 30px;
    border-radius: 50%;
    margin-right: 8px;
    transition: transform 0.6s;
}

.btn:hover {
    color: var(--main-color);
    transform: translateY(-4px);
}

#scrollUpBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: rgb(8, 239, 255);
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

#scrollUpBtn:hover {
    background: rgb(255, 255, 255)
}

#scrollUpBtn:active {
    transform: scale(0.9);
}


body {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("../images/bg.png");
    background-size: cover;
    background-attachment: fixed;
    font-family: inherit;
    margin: 0;
    line-height: inherit
}

*,
:after,
:before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb
}

hr {
    border-top-width: 1px
}

img {
    border-style: solid
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit
}


audio,
canvas,
embed,
iframe,
img,
object,
svg {
    display: block;
    vertical-align: middle
}

img {
    max-width: 100%;
    height: auto
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    --tw-shadow: 0 0 #0000;
    --tw-ring-inset: var(--tw-empty,
        );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000
}

:root {
    --text-color: #fff;
    --bg-color: #0b0809;
    --main-color: #59c4d2;
    --h1-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1rem;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background: transparent;
    padding: 27px 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
}

.logo {
    font-size: 33px;
    color: var(--text-color);
    font-weight: 700;
}

span {
    color: var(--main-color);
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin: 15px 22px;
    transition: all .50s ease;
}

.navbar a:hover {
    color: var(--main-color);
}

.h-right {
    display: flex;
    align-items: center;
}

.h-right a:first-child {
    color: var(--text-color);
    font-size: var(--p-font);
    margin-right: 20px;
}

.h-right a {
    vertical-align: middle;
    font-size: 20px;
    color: var(--text-color);
    margin-right: 18px;
    margin-left: 5px;
    transition: all .50s ease;
}

.h-right a:hover {
    color: var(--main-color);
    transform: translateY(-3px);
}

#menu-icon {
    color: var(--text-color);
    font-size: 30px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

header.sticky {
    padding: 8px 17%;
    background: transparent;
    backdrop-filter: blur(35px);
}


@media(max-width:1700px) {
    header {
        padding: 18px 8%;
    }

    header.sticky {
        padding: 7px 8%;
    }

    section {
        padding: 50px 8% 40px;
    }
}

@media(max-width:1200px) {
    header {
        padding: 14px 5%;
    }

    header.sticky {
        padding: 7px 5%;
    }

    :root {
        --h1-font: 4.6rem;
        --h2-font: 2.8rem;
        --p-font: 15px;
    }

    section {
        padding: 45px 5% 35px;
    }
}

@media(max-width: 1050px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 40px 60px;
        top: 0;
        bottom: 0;
        left: 100%;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        transition: all .50s ease;
    }

    .navbar a {
        display: block;
        color: #979797;
        padding: 0;
        margin: 0px 0px 40px 0px;
        font-size: 2.2rem;
        font-weight: 400;
    }

    .navbar.open {
        left: 0;
    }
}

@media(max-width: 600px) {
    :root {
        --h1-font: 3.5rem;
        --h2-font: 2.1rem;
    }
}

@media(max-width: 450px) {
    header {
        padding: 12px 3%;
    }

    header.sticky {
        padding: 7px 3%;
    }

    section {
        padding: 60px 3% 50px;
    }
}


@media (min-width:640px) {
    .container {
        max-width: 640px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 768px
    }
}

@media (min-width:1024px) {
    .container {
        max-width: 1024px
    }
}

@media (min-width:1280px) {
    .container {
        max-width: 1280px
    }
}

@media (min-width:1536px) {
    .container {
        max-width: 1536px
    }
}

.section {
    padding: 70px 17% 60px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;
}

.footer-box {
    display: flex;
    flex-direction: column;
}

.footer-box h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.footer-box a {
    color: #979797;
    margin-bottom: 0.8rem;
    transition: all .50s ease;
}

.footer-box a:hover {
    transform: translateX(-5px);
    color: var(--text-color);
}

.social a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background: #202020;
    color: var(--text-color);
    font-size: 20px;
    border-radius: 50%;
    margin-right: 8px;
    transition: transform 0.6s;
}

.social a:hover {
    background: var(--main-color);
    color: var(--bg-color);
    transform: translateX(-4px);
}

.m-auto {
    margin: auto
}

.my-2 {
    margin-top: .5rem;
    margin-bottom: .5rem
}

.mt-20 {
    margin-top: 5rem
}

.mb-20 {
    margin-bottom: 5rem
}

.mb-8 {
    margin-bottom: 2rem
}

.mt-4 {
    margin-top: 1rem
}

.ml-2 {
    margin-left: .5rem
}

.mb-6 {
    margin-bottom: 1.5rem
}

.flex {
    display: flex
}

.w-full {
    width: 100%
}

.w-1\/4 {
    width: 25%
}

.w-3\/4 {
    width: 75%
}

.flex-wrap {
    flex-wrap: wrap
}

.items-center {
    align-items: center
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.justify-end {
    justify-content: flex-end
}

.rounded-lg {
    border-radius: .5rem
}

.border {
    border-width: 1px
}

.border-b {
    border-bottom-width: 1px
}

.border-green-450 {
    --tw-border-opacity: 1;
    border-color: rgba(90, 197, 211, var(--tw-border-opacity))
}

.pl-4 {
    padding-left: 1rem
}

.pb-4 {
    padding-bottom: 1rem
}

.text-left {
    text-align: left
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem
}

.font-semibold {
    font-weight: 600
}

.font-normal {
    font-weight: 400
}

.font-light {
    font-weight: 300
}

.font-bold {
    font-weight: 700
}

.italic {
    font-style: italic;
}

.text-green-450 {
    --tw-text-opacity: 1;
    color: rgba(90, 197, 211, var(--tw-text-opacity))
}

.text-black {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity))
}


.container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1200px
}

@media(max-width:600px) {

    .text-2xl {
        font-size: 1.25rem;
        line-height: 2rem
    }

}

@media (min-width:640px) {
    .sm\:mb-6 {
        margin-bottom: 1.5rem
    }

    .sm\:flex {
        display: flex
    }

    .sm\:w-3\/5 {
        width: 60%
    }

    .sm\:w-2\/5 {
        width: 40%
    }

    .sm\:w-1\/2 {
        width: 50%
    }

    .sm\:w-1\/5 {
        width: 20%
    }

    .sm\:w-1\/4 {
        width: 25%
    }
}

@media (min-width:768px) {

    .md\:w-2\/5 {
        width: 40%
    }

    .md\:w-3\/5 {
        width: 60%
    }

    .md\:w-1\/4 {
        width: 25%
    }
}

span.unique-code {
    color: #59c4d2;
    /* Use your preferred color */
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    opacity: 0;
    visibility: hidden;
    transform: scale(1, 1);
    background: rgba(0, 0, 0, 0.59);
    transition: 0.5s;
}

body.open .modal-background {
    visibility: visible;
    opacity: 1;
    animation: background-in 1s both;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    background: #252328;
    color: #f9f9f9;
    padding: 48px 40px;
    border-radius: 12px;
    width: 400px;
    translate: -50% -50%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

body.open .modal {
    opacity: 1;
    visibility: visible;
    animation: modal-in 1s;
}

body.closed .modal {
    opacity: 0;
    visibility: hidden;
    translate: -50% -50%;
}


@keyframes background-in {
    0% {
        scale: 0 0.005;
    }

    33% {
        scale: 1 0.005;
    }

    66%,
    100% {
        scale: 1 1;
    }
}


@keyframes modal-in {

    0%,
    66% {
        opacity: 0;
        visibility: hidden;
        translate: -50% -30%;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}